.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.capslock-tooltip-arrow {
  left: 10px !important;
}

.restore{
  text-align: center;
  margin-top: 10px;
  color: #5e72e4;
}